/*-------------------------------------------------------------------------------------
[TABLE OF CONTENTS]

	01. TIMELINE
	02. ANIMATED TEXT
	03. PROGRESS BAR
    04. HEADER
	32. FONT ICON PAGES

	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	text: #757575
	hover: #45be84
	headings: #434343

-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* 	01. TIMELINE
/*-----------------------------------------------------------------------------------*/
.timeline {
    position: relative;
    z-index: 1;
}
.timeline:before {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 1px;
    top: 0;
    border-right: 1px solid rgba(0,0,0,0.1);
    z-index: -1;
}
.timeline .date-title {
    text-align: center;
    margin: 30px 0;
}
.timeline .date-title:first-child {
    margin-top: 0
}
.timeline .date-title span {
    font-family: 'Montserrat', sans-serif;
    padding: 11px 20px 10px 20px;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: #45be84;
    border-radius: 4px;
    text-transform: uppercase;
}
.timeline-item {
    padding-bottom: 45px;
    position: relative;
}
.timeline-item.right {
    float: right;
    margin-top: 40px;
}
.timeline-item .post-content {
    margin: 20px 20px 0 0;
    position: relative;
    padding: 30px;
    background: #FFF;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.timeline-item .post-content.classic-view figure {
    margin-bottom: 20px
}
.timeline-item .post-content p {
    margin: 0 0 10px 0
}
.timeline-item.right .post-content {
    margin: 20px 0 0 20px
}
.timeline-item .arrow:after,
.timeline-item .arrow:before {
    left: 100%;
    top: 90px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -36px !important;
    z-index: 2;
}
.timeline-item .arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}
.timeline-item .arrow:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0,0,0,0.1);
    border-width: 11px;
    margin-top: -11px;
}
.timeline-item.right .arrow:after,
.timeline-item.right .arrow:before {
    left: auto;
    right: 100%;
    margin: 0;
    margin-right: -36px !important;
    z-index: 2;
}
.timeline-item.right .arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}
.timeline-item.right .arrow:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0,0,0,0.1);
    border-width: 11px;
    margin-top: -11px;
}
.timeline-item .post-content:before {
    display: block;
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    right: -46px;
    top: 60px;
    background: #45be84;
    border: 3px solid #f9f9f9;
    border-radius: 50%;
    -webkit-transition: background .3s ease-out;
    transition: background .3s ease-out;
}
.timeline-item.right .post-content:before {
    left: -45px;
    right: auto;
}
/*-----------------------------------------------------------------------------------*/
/*	02. ANIMATED TEXT
/*-----------------------------------------------------------------------------------*/
.animated-text-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.animated-text-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.animated-text-wrapper b.is-visible {
    position: relative
}
.no-js .animated-text-wrapper b {
    opacity: 0
}
.no-js .animated-text-wrapper b.is-visible {
    opacity: 1
}
.animated-text.type .animated-text-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.animated-text.type .animated-text-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #c2e6d5;
}
.animated-text.type .animated-text-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.animated-text.type .animated-text-wrapper.selected {
    background-color: #c2e6d5
}
.animated-text.type .animated-text-wrapper.selected::after {
    visibility: hidden
}
.animated-text.type .animated-text-wrapper.selected b {

}
.animated-text.type b {
    visibility: hidden;
    color: #757575;
}
.animated-text.type b.is-visible {
    visibility: visible
}
.animated-text.type i {
    position: absolute;
    visibility: hidden;
}
.animated-text.type i.in {
    position: relative;
    visibility: visible;
}
@-webkit-keyframes cd-pulse {
	0% {
	    -webkit-transform: translateY(-50%) scale(1);
	    opacity: 1;
	}
	40% {
	    -webkit-transform: translateY(-50%) scale(0.9);
	    opacity: 0;
	}
	100% {
	    -webkit-transform: translateY(-50%) scale();
	    opacity: 0;
	}
}
@-moz-keyframes cd-pulse {
	0% {
	    -moz-transform: translateY(-50%) scale(1);
	    opacity: 1;
	}
	40% {
	    -moz-transform: translateY(-50%) scale(0.9);
	    opacity: 0;
	}
	100% {
	    -moz-transform: translateY(-50%) scale();
	    opacity: 0;
	}
}
@keyframes cd-pulse {
	0% {
	    -webkit-transform: translateY(-50%) scale(1);
	    -moz-transform: translateY(-50%) scale(1);
	    -ms-transform: translateY(-50%) scale(1);
	    -o-transform: translateY(-50%) scale(1);
	    transform: translateY(-50%) scale(1);
	    opacity: 1;
	}
	40% {
	    -webkit-transform: translateY(-50%) scale(0.9);
	    -moz-transform: translateY(-50%) scale(0.9);
	    -ms-transform: translateY(-50%) scale(0.9);
	    -o-transform: translateY(-50%) scale(0.9);
	    transform: translateY(-50%) scale(0.9);
	    opacity: 0;
	}
	100% {
	    -webkit-transform: translateY(-50%) scale();
	    -moz-transform: translateY(-50%) scale();
	    -ms-transform: translateY(-50%) scale();
	    -o-transform: translateY(-50%) scale();
	    transform: translateY(-50%) scale();
	    opacity: 0;
	}
}
/*-----------------------------------------------------------------------------------*/
/*	03. PROGRESS BAR
/*-----------------------------------------------------------------------------------*/
.progress-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.progress-list p {
    margin-bottom: 5px
}
.progress-list li {
    margin-bottom: 20px
}
.progress-list li em {
    padding-left: 8px;
    color: #45be84;
    font-style: normal;
}
.progress-list li em:before {
    content: "-";
    padding-right: 10px;
    display: inline-block;
}
.progress.plain {
    height: 15px;
    margin-bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background: none;
    border: 1px solid #45be84;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress.plain .bar {
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
    background: #45be84;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*-----------------------------------------------------------------------------------*/
/*	04. HEADER
/*-----------------------------------------------------------------------------------*/

header {
    background-position: center center;
    background-size: cover;
    color: #fff;
    position: relative;
    text-align: center;
    width: 100%;
}
header .header-content {
    padding: 100px 15px;
    position: relative;
    text-align: center;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
}
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        padding: 0 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    header .header-content .header-content-inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }
}
